<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        
        <div class="border shadow rounded p-4 mt-5 m-2">
            <h3 class="text-center" >Add User Details</h3>
           <form (ngSubmit)="addEmployee()">
                <input type="text" class="form-control mt-4" placeholder="User ID" name="empid" [(ngModel)]="employee.id" required pattern="[0-9]*" #employeeid="ngModel">
                <span *ngIf="employeeid.invalid && employeeid.touched" class="text-danger">Invalid Id</span>
    
                <input type="text" class="form-control mt-3" placeholder="Username" name="empname" [(ngModel)]="employee.name" required pattern="^[a-zA-Z]{3,}$" #employeename="ngModel">
                <span *ngIf="employeename.invalid && employeename.touched" class="text-danger">Invalid name</span>
    
    
                <input type="text" class="form-control mt-3" placeholder="Email"  name="empemail" [(ngModel)]="employee.email" required email #employeeemail="ngModel">
                <span *ngIf="employeeemail.invalid && employeeemail.touched" class="text-danger">Invalid email</span>
    
                 
               
                <select class="form-select mt-3" id="inputGroupSelect01" name="empstatus" [(ngModel)]="employee.status" required  #employeestatus="ngModel">
                    <option ><i></i></option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                  </select>
                  <span *ngIf="employeestatus.invalid && employeestatus.touched" class="text-danger">Invalid status</span>
    
    
                  <div class="d-flex">
                      <button class="btn btn-warning w-50 me-3  mt-4" type="submit">Cancel</button>
                      <button class="btn btn-success w-50 mt-4" (click)="addEmployee()">Add</button>
                   
                  </div>
    
           </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
