<div class="container-fluid">
   <div class="row p-3">
        <div class="col-md-6">
            <h2 class="ms-3 text-start">Users List</h2>
        </div>
        <div class="col-md-6 text-end">
            <button class="btn btn-outline-primary w-25"  routerLink="/employee/add"><i class="fa-solid fa-user-plus"></i>&nbsp; Add</button>
        </div>
   </div>

   <div class="row p-3">
    <div class="col-md-6">

        <div class="w-100 d-flex p-3">
            <input type="search" class="form-control" placeholder="Search by username" name="search" [(ngModel)]="searchKey">
         
            <button class="btn w-50 ms-3 btn-outline-success" (click)="sortId()">Sort by Id</button>
            <button class="btn w-50 ms-1 btn-outline-success" (click)="sortName()">Sort by Name</button>


        </div>


        
    </div>
    <div class="col-md-6 text-end">
        <button class="btn btn-outline-success w-25" (click)="generatePdf()"><i class="fa-solid fa-upload"></i> &nbsp; Export</button>
    </div>
</div>






    <div class=" table p-3">
        <table class="w-100 text-center table table-bordered border-warning shadow">
            <thead>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action</th>
            </thead>

            <tr *ngFor="let employee of allEmployee | search: searchKey | paginate:{itemsPerPage: 6,currentPage: p}" [hidden]="employee.id=='1'" >
                <td>{{employee.id}} </td>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td><span [ngClass]="employee.status=='1'?'btn btn-success':'btn btn-danger' ">{{employee.status=='1'?'Active':'Inactive'}}</span></td>
                <td>
                    <a routerLink="/employee/edit/{{employee.id}}" class="btn btn-outline-primary me-3"><i class="fa-solid fa-pen "></i></a>
                    <a class="btn btn-outline-danger " (click)="removeEmployee(employee.id)"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>


        </table>
            <pagination-controls 
                      (pageChange)="p=$event" class="text-center p-2">
                    
            </pagination-controls>
    </div>
</div>