<div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-8 ">
        <div class="border rounded shadow p-4 bg-warning bg-gradient m-3 ">
            <div class="row">

                <div class="col-md-6">
                    <img src="https://cdn-icons-png.flaticon.com/512/470/470267.png" class="w-100 p-5" alt="">
                </div>
                <div class="col-md-6 ">

                <form (ngSubmit)="login()" #loginform = "ngForm">
                        <h3 class="text-center "><u>Login</u></h3>
                <p class=" mt-5">Enter Your Email Address</p>
                <input type="email" class="form-control" placeholder="Email Address" email required [(ngModel)]="email" name="email" #useremail="ngModel">
                <span *ngIf="useremail.invalid && useremail.touched" class="text-danger">Invalid email</span>
    
                <p class="mt-4 ">Enter Your Password</p>
                <input type="password" class="form-control " placeholder=" password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" [(ngModel)]="password" name="password" #userpswd="ngModel">
                <span class="text-danger" *ngIf="userpswd.invalid && userpswd.touched">Invalid Password</span>
    
                <p class="mt-3">new User ? <a href="" style="text-decoration: none;">Register</a></p>
                <button type="submit" [disabled]="loginform.invalid" class="btn btn-outline-success w-100  mt-3">Login</button>
                </form>

                </div>

            </div>
            
            
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
